.ImageSlider {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.Images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: nowrap;
  overflow: hidden;
  width: 100%;
  padding: 40px;
}

.middleImage {
  width: clamp(250px, 60vw, 550px);
  height: clamp(200px, 40vw, 400px);
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0px 0px 30px 1px rgba(79, 79, 79, 0.3);
  border: 1px solid white;
}

.rightImage,
.leftImage {
  width: clamp(180px, 30vw, 350px);
  height: clamp(140px, 25vw, 280px);
  object-fit: cover;
  border-radius: 10px;
  z-index: -9;
  filter: blur(3px) saturate(0.5);
}

.rightImage {
  transform: translateX(5vw);
}
.leftImage {
  transform: translateX(-5vw);
}

.buttons {
  display: flex;
  gap: 15px;
  margin-top: 1rem;
}

.leftButton,
.rightButton {
  padding: 10px;
  border: 1px solid black;
  border-radius: 100%;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  cursor: pointer;
}

.rightButton {
  transform: scaleX(-1);
}

.dots {
  height: 5px;
  width: 5px;
  border: 1px solid black;
  border-radius: 100%;
}

.dots.active {
  background-color: black;
}

.dots.passive {
  background-color: transparent;
}

.dotsPlace {
  display: flex;
  gap: 10px;
  margin-top: 1rem;
}

/* Optional: tweak for small screens */
@media (max-width: 768px) {
  .middleImage {
    width: 80vw;
    height: 400px;
  }

  .rightImage,
  .leftImage {
    display: none;
  }
}
